<div id="{{id}}">
  <div class="title">Выберите правильный бак для сортировки мусора!</div>

  <div class="wasteboxes">
    <div id="wastebox-recyclables">
      <div class="title"></div>
      <div class="lid"></div>
      <div class="wastebox"></div>
    </div>
    <div id="wastebox-mixed">
      <div class="title"></div>
      <div class="lid"></div>
      <div class="wastebox"></div>
    </div>
    <div id="wastebox-household">
      <div class="title"></div>
      <div class="lid"></div>
      <div class="wastebox"></div>
    </div>
    <div id="wastebox-dangerous">
      <div class="title"></div>
      <div class="lid"></div>
      <div class="wastebox"></div>
    </div>
  </div>

</div>