<section id="garbige-game" class="garbige-game">
  <div class="layouts">

    <div class="garbige-game-layout-gameplay">
      <h1 class="title">{text:layouts.gameplay.title}</h1>

      <div class="garbiges">
        <div>
          <div class="result access"></div>
        </div>
        <div>
          <div class="factory">
            <div id="timer" class="timer">
              <div class="tip">
                <div class="circle"></div>
              </div>
              <div class="tip start">
                <div class="circle"></div>
              </div>
            </div>
            <div id="spawn" class="spawn"></div>
          </div>
        </div>
        <div>
          <div class="result error"></div>
        </div>
      </div>

      <div class="wasteboxes">
        <div id="wastebox-recyclables" class="recyclables">
          <div class="title"></div>
          <div class="wastebox"></div>
        </div>
        <div id="wastebox-mixed" class="mixed">
          <div class="title"></div>
          <div class="wastebox"></div>
        </div>
        <div id="wastebox-household" class="household">
          <div class="title"></div>
          <div class="wastebox"></div>
        </div>
        <div id="wastebox-dangerous" class="dangerous">
          <div class="title"></div>
          <div class="wastebox"></div>
        </div>
      </div>
    </div>

    <div id="garbige-game-layout-start" class="layout-start">
      <div id="garbige-game-button-start" class="button-start">{text:layouts.start.button}</div>
    </div>

    <!-- <div id="layout-finish">

    </div> -->
  </div>
</section>